@use '../custom'as *;
@use '../components/mixins'as *;

.home {
    .landing {
        .home-wrap {
            .home-inner {
                width: 100%;
                height: 100vh;
                background-image: url(https://picsum.photos/1920/1080);
            }
        }
    }

    .caption {
        @include absoluteCenter;
        width: 100%;
        max-width: 100%;
    }
}