@use '../custom'as *;
@use '../components/mixins'as *;

.menu {
    opacity: 0.65;

    img {
        height: 3rem;
    }

    li {
        padding-right: 0.7rem;

        a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
        }
    }
}